$dropShadow: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.4));

.container {
  flex: 1 70%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cover {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
    filter: $dropShadow;
  }

  .playerContainer {
    transform: translateY(-50%);
    width: 95%;

    .player {
      width: 100%;
      height: 100px;
      background-color: rgba(black, 0.5);
      border-radius: 2rem;
      filter: $dropShadow;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 15px;
      gap: 1rem;

      backdrop-filter: blur(7px);
      color: white;
      font-family: "Outfit";

      .visualisationContainer {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        height: 100%;

        .visualisation {
          background-color: #fff;
          border-radius: 1rem;
          width: 7px;
          height: 100%;
        }
      }

      .songInformation {
        display: flex;
        flex-direction: column;

        .title,
        .artist {
          text-align: center;
        }

        .title {
          font-weight: 600;
        }

        .artist {
          font-size: 400;
        }
      }
    }
  }
}
